<main>
  <router-outlet></router-outlet>
</main>
<div class="barraSuperior">
  <img src="Imagenes/jpg.png" alt="Icono de la página" class="logo" routerLink="/login" />

  <div class="Menu">
    @if (estaLogueado) {
    <a (click)="cerrarSesion()">Log Out</a>
    }
    <a routerLink="/inicio">Inicio</a>
    <a routerLink="/latas">Latas</a>
    <div class="dropdown">
      <span>Explorar ▾</span>
      <ul class="dropdown-content">
        @if (estaLogueado) {
        <li><a routerLink="/NuevaLata">Lata</a></li>
        <li><a routerLink="/Cajas">Cajas</a></li>
        }
        <li><a routerLink="/Marcas">Marcas</a></li>
        <li><a routerLink="/Tamaños">Tamaños</a></li>
        <li><a routerLink="/Sabores">Sabores</a></li>
        <li><a routerLink="/Especialidades">Especialidades</a></li>
        <li><a routerLink="/EdicionesEspeciales">Ediciones Especiales</a></li>
        <li><a routerLink="/Paises">Países</a></li>
        <li><a routerLink="/Años">Años</a></li>
      </ul>
    </div>
  </div>

  <div class="Buscador">
    <input type="text" placeholder="Buscar..." class="input-buscar" />
    <input type="submit" value="Buscar" class="btn-buscar" />
  </div>
</div>

<main class="contenido-principal">
  <router-outlet></router-outlet>
</main>

<div class="footer">
  <p>Las Latas de Martín</p>
  <div class="instagram">
    <i class="bi bi-instagram"></i>
    <a href="https://www.instagram.com/laslatasdemartin/">Instagram</a>
  </div>
</div>